* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {

    position: relative;
}

.imgBanner {
    width: 100%;
    overflow: hidden;
    height: 90vh;
    background-blend-mode: soft-light;

}


.cardBanner {
    position: absolute;
    right: 60px;
    top: 290px;
    color: white;
    font-weight: 600;
    text-align: right;
    font-size: 1.4564rem;
    text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}
.botonA{
    text-decoration: none;
    color: aliceblue;
}
.cardOradores {
    background-color: white;
    height: 100%;

}

.containerOradores {
    display: flex;
    margin-top: 2%;
    align-items: center;
    flex-direction: column;
}

.titleOradores,
.titleConvert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsOradores {
    height: 60%;
    align-items: center;

}

.card-oradores {
    width: 18rem;

}

.card-subtitled {
    text-align: justify !important;
}

.bannerDos {
    margin-top: 5%;
    width: 100%;


}


.bannerDos_img {
    width: 50%;
    background-size: contain;

}

.description {
    width: 50%;
    background-color: #333;
    color: white;
    padding: 2rem;
    font-size: 23px;
}

.convert {
    height: 80vh;
    width: 100%;
}

.containerConvert {
    text-align: center;
    margin-top: 4%;
}

.contact {
    width: 60%;
    height: 60%;
    margin-left: 20%;
}

footer {
    width: 100%;
    height: 11rem;
    background-color: #1d284d;

}

.containerFooter {

    width: 80%;
    height: 100%;
    margin-left: 10%;
    text-align: center;
    padding-top: 3rem;

}

.footer-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;

}
/*Estilo de la pág comprar tickets*/
.containerTickets, .containerVenta{
    width: 65%;
    margin-left: 18%;
}
.cardsTickets{
    height: 60%;
    align-items: center;
    margin-left: 5%;

}

.card-Tickets{
    width: 18rem;

}
.titleTickets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.warnings{
    width: 200px;
    text-align: centar;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}
.footer-link {
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
}

/*diseño responsive*/

@media screen and (max-width: 320px) {
    .imgBanner {
        width: 321px;
        height: 150vh;
        object-fit: cover;

    }

    .containerOradores{
        padding-left: 5%;
    }
    .cardBanner {
        position: absolute;
        right: 29px;
       
    }

    .cardBanner p{
        font-size: 20px;
    }
    .container_bannerDos {
        height: 54em;
        
    }
    .container_bannerDos p{
        font-size: 14px;
    }
    .bannerDos_img{
        object-fit: cover;
    }
    .footer {
        
        height: 11rem;
    }
    .containerFooter{
    
        height: 100%;
         padding: 0;
    }
    .footer-nav {
        display: flex;
        list-style: none;
        flex-direction: column;
    }

 /*Responsive de comprar*/
.containerTickets{
    margin: 0px 0px 0px 20px;
}
}